:root {
  --background: #000000;
  --foreground: #ffffff;
  --page-padding-top: 120px;
  --page-padding-bottom: 120px;
  --page-title-margin-top: 27px;
  --page-title-margin-bottom: 100px;
}

html {
  color-scheme: dark;
  background-color: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Commissioner";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 700px) {
  :root {
    --page-padding-top: 93px;
    --page-padding-bottom: 80px;
    --page-title-margin-top: 19px;
    --page-title-margin-bottom: 72px;
  }
}
